#title{
    background-color: #ff4c68;
}
.heading{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}
.body{
    font-family: 'Montserrat', sans-serif;
}
.container-fluid{
    padding: 3% 15% ;

}
.logo{
    height: 30px;
    width: 30px;
}
.navbar{
    padding-bottom: 4.5rem;
}


.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
    font-size: 2rem;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
       width: 350px;
       transform: rotate(25deg);
       position: absolute;
}

.logo1{
    height: 50px;
    width: 50px;
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-weight: bold;

}
p{
    color: #8f8f8f;
}

.logo2{
    height: 70px;
    width: 70px;
}
#testimonials{

    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:#ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }

  .container-fluid{
    padding: 7% 15%;
  }
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }

}
#cta{
    background-color:#ff4c68;
    padding: 100px;
    color: #fff;
    text-align: center;
}
.end{
    font-size: 3.5rem;
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
